.motion-path-car {
    display: none;
}

#container {
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.iteration-input {
    text-align: center;
    margin-top: 1rem;
}

.iteration-input h2 {
    margin-bottom: 0.5rem;
}

.iteration-action {
    display: inline-block;
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc;
}

.iteration-action label {
    margin-right: 0.5rem;
    font-weight: bold;
}

.iteration-action input {
    width: 50px;
    padding: 0.2rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    text-align: center;
}

#updateButton {
    margin-left: 1rem;
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#updateButton:hover {
    background-color: #45a049;
}

.description {
    text-align: center;
    margin: 1rem auto;
    max-width: 600px;
    font-size: 1rem;
    color: #333;
    border: 2px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.description p {
    line-height: 1.5;
}

.description ul {
  font-weight: bold;
    list-style-type: none;
    text-align: center;
    margin: 0.5rem auto;
    padding-left: 1.2rem;
}